@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World</h1>
    @Html.Raw(RedditViewer.Pages.IndexModel.Body);
    <button onclick="data.fetch">Load More</button>
</div>
